.header {

    border-radius: 14px 14px 14px 14px;
    border: 3px solid var(--bs-border-color);
    margin-bottom: 2rem;
}

.title {

    color: var(--bs-body-color);
    font-size: 1.7rem;
    padding: 0.7em 0.3em 0.7em 0.3em;
    background-color: var(--bs-border-color);
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}

.meta {

    color: var(--bs-secondary-color);
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
}

.meta p {

    margin: 0.3rem 0;
}