.title {
    font-size: 1.7rem;
    color: var(--bs-body-color);
    font-weight: bold;
}

.thumbnail {
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* 4:3 アスペクト比 */
    background-size: cover;
    background-position: center;
    border-radius: var(--boarder-radius);
    margin-bottom: 1rem;
}
